{% extends "layouts/base.html" %}

{% block content %}

<article class="bingo">
  <header class="bingo__header">
    <h1 class="bingo__title" aria-label="{{title}}">
      <a href="/">
        {% include "./../partials/brand.svg" %}
      </a>
      <span>Bingo!</span>
    </h1>
    <p>{{ content | safe }}</p>
  </header>
  <form>
    <div class="bingo__name">
      <label for="bingo-name" class="bingo__textFieldLabel">
        Your Name:
      </label>
      <input id="bingo-name" class="bingo__textField" required />
    </div>
    <div id="bingoCard">  </div>
    <button type="submit" class="button">Submit for checking</button>
  </form>
</article>


<svg hidden mlns="http://www.w3.org/2000/svg">
  <filter id="displacementFilter">
    <feTurbulence type="turbulence" baseFrequency="0.05"
        numOctaves="2" result="turbulence"/>
    <feDisplacementMap in2="turbulence" in="SourceGraphic"
        scale="3" xChannelSelector="R" yChannelSelector="G"/>
  </filter>
</svg>
<script src="/scripts/bingo.js"></script>

{% endblock %}
