.site {
  background-color: var(--color-primary-contrast);
  color: var(--color-primary);
  display: flex;
  font-size: 2rem;
  justify-content: center;
  padding: 4rem 0;
  @media (max-width: 36em) {
    font-size: 1.8rem;
    padding: 0;
  }
}
.site__wrap {
  width: 100%;
  max-width: 36em;
}

.site__head {
  width: 100%;
  padding: 0 2rem;
}

.site__main {
  outline: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
