<article class="contentBlock">
  <h2>What's this now?</h2>
  <p>
    We're a group of musicians who, by and large, found eachother on the internet at the beginning of the 2020 lockdown and have been performing via Zoom every Tuesday night since.
  </p>
  <p>
    We started Lockdown Open Mic as an online version of our favourite local open mic nights. Over time we've grown into an amazing community of performers, audience members and new friends.
  <p>
    We're a friendly bunch, and with zero pressure for members to perform at all (we have plenty of people who just join for a weekly dose of live entertainment)</p>
  </p>
</article>
