<article class="contentBlock">
  <h2>What's this now?</h2>
  <p>
    Musicians, poets, comics, plate-spinners. Got an urge to perform in this time of social isolation? We’re here
    for you. The pubs and clubs are closed and your favourite local open-mic night is sadly on haitus. Join our
    virtual open-mic and give us a bit of entertainment.
  </p>
  <p>
    It’ll be friendly, welcoming and the drinks will be cheap (providing you’ve got some in). From seasoned
    performers to first-timers - come and give it a go.
  </p>
</article>
<article class="contentBlock">
  <h2>Is this for me?</h2>
  <p>
    I dunno. Do you like to play an instrument, sing, write poetry or make people laugh? Got an urge to perform
    for others but can’t because of the lockdown? Want to share an experience with some like-minded folk? Then
    yes, this could be for you. Why not give it a try?
  </p>
</article>
