<article class="contentBlock">
  <h2>What's this now?</h2>
  <p>
    Musicians, poets, comics, plate-spinners; have you got an urge to perform in this time of social isolation? Lockdown Open Mic is here
    for you. Playing live music in pubs and clubs is still a no-go, and your favourite local open-mic night is sadly on haitus. Join our
    virtual open-mic and share your talent with an appreciative crowd.
  </p>
  <p>
    We started Lockdown Open Mic as an online version of your favourite local open mic nights way back at the beginning of the Covid-19 lockdown. Over time we've grown into an amazing community of performers, audience members and new friends from the UK and across the World. 
  </p>
  <p>
    We're a friendly bunch, extrmely welcoming to new performers and with zero pressure to perform at all (we have plenty of people who just join for a weekly dose of live entertainment)</p>
  </p>
  <p>  
  Seriously. Everybody's welcome; from seasoned performers to first-timers - come and give it a go.
  </p>
</article>
<article class="contentBlock">
  <h2>Is this for me?</h2>
  <p>
    I dunno. Do you like to play an instrument, sing, write poetry or make people laugh? Got an urge to perform
    for others but can’t because of the lockdown? Want to share an experience with some like-minded folk? Just want to watch some live music on a Tuesday? Then
    yes, this could be for you. Why not give it a try?
  </p>
</article>
