<article class="callout codeOfConduct">
  <h2 class="codeOfConduct__title">Code of Conduct</h2>
  <p>
    Every open-mic I’ve been to in real life has been friendly and welcoming. This one will be no different. To ensure
    that, I’d like all attendees to follow some simple, common-sense rules.
  </p>
  <ol class="codeOfConduct__list">
    <li class="codeOfConduct__item">Don’t be a dick. That should be enough.</li>
    <li class="codeOfConduct__item">Applaud every act.</li>
    <li class="codeOfConduct__item">
      Zero-tolerance on any behaviour or language deemed to be racist, misogynistic, homophobic, or otherwise
      intolerant. If you disrespect any attendee, the organiser, or anybody else, you’re out.
    </li>
  </ol>
</article>
