<article class="contentBlock">
  <h2>How do I join in?</h2>
  <p>
    If you'd like to join the show, just
    <a href="mailto:pete@lockdownopenmic.club">send me an email</a> (pete@lockdownopenmic.club) and I'll send you the joining link.
  </p>
  <p>
    We use <a href="https://zoom.us" rel="nofollow noreferrer">Zoom</a> for the Lockdown Open Mic - an app available for
    every platform, phone, tablet, desktop, smart fridge, lawnmower etc. (<a href="#zoomTips"
      >Click here for tips on using Zoom for playing music and make sure you enable 'Original Sound)</a
    >
  </p>
  <p>
    Before each event, I’ll put a link to the Zoom room on this website and it’ll be in the calendar invite too. Then
    you just need to turn up any time from 8pm (UK time), turn on your camera, mute your mic, then if you want to
    perform let me know in the Zoom text chat and I'll put you on the list - just like a real open mic!
  </p>
  <p>We'll do one song per performer at a time and move around the group to keep things flowing.</p>
</article>
