<article class="callout">
  <h2 class="callout__title">{{ show.title }}</h2>
  <p class="callout__datetime">{{ show.subTitle }}</p>
  <p>
    And don't forget to play along at home with our new feature:<br />
    <strong>Lockdown Open Mic - The Game</strong>
  </p>
  <div class="callout__actions">
    <a href="{{ show.link }}" class="button button--secondary">Join the Show!</a>
    <a href="/game" class="button">Launch the Game</a>
  </div>
  <p class="callout__note">
    We're pretty much at capacity for performers at the moment, but if you'd like to be considered for a spot in a
    future week, please <a href="mailto:pete@lockdownopenmic.club">send me an email</a> (pete@lockdownopenmic.club).
  </p>
  <!--<p class="callout__note">Message <a href="#socials">on the socials</a> if you have problems getting in.</p>-->
</article>
