<article class="callout">
  <h2 class="callout__datetime">{{ nextShow.title }}</h2>
  {{ content | safe }}
  <p>
    Lockdown Open Mic was an online music community that was formed in the first week of the Covid 19 lockdown of 2020 and ran (mostly weekly) for three years until 21st March 2023.
  </p>
  <p>
    It was a beautiful thing and will be etched in our memories for all time. The friendships and bonds that were made through music and performance in the most trying of times carried us through. If you have any questions about Lockdown Open Mic or you want say hi, please <a href="mailto:pete@lockdownopenmic.club">send me an email</a>.
  </p>
</article>
