<article class="contentBlock" id="socials">
  <h2>Need to get in touch?</h2>
  <ul class="contactList">
    <li class="contactList__item">
      <a href="mailto:pete@lockdownopenmic.club" rel="me nofollow noreferrer" class="iconLink" aria-hidden="true">
        <img src="/images/email.svg" alt="Email" class="contactList__icon" />
      </a>
      <a
        href="mailto:pete@lockdownopenmic.club"
        rel="me nofollow noreferrer"
        aria-label="Email pete at lockdown open mic dot club"
      >
        pete@lockdownopenmic.club
      </a>
    </li>
    <li class="contactList__item">
      <a
        href="https://twitter.com/lockdownopenmic"
        rel="me nofollow noreferrer"
        class="iconLink"
        aria-hidden="true"
      >
        <img src="/images/bird.svg" alt="Twitter" class="contactList__icon" />
      </a>
      <a
        href="https://twitter.com/lockdownopenmic"
        rel="me nofollow noreferrer"
        aria-label="Lockdown Open Mic on Twitter"
      >
        twitter.com/LockdownOpenMic
      </a>
    </li>
    <li class="contactList__item">
      <a
        href="https://instagram.com/lockdownopenmic"
        rel="me nofollow noreferrer"
        class="iconLink"
        aria-hidden="true"
      >
        <img src="/images/insta.svg" alt="Instagram" class="contactList__icon" />
      </a>
      <a
        href="https://instagram.com/lockdownopenmic"
        rel="me nofollow noreferrer"
        aria-label="Lockdown Open Mic on Instagram"
      >
        instagram.com/LockdownOpenMic
      </a>
    </li>
  </ul>
  <div class="footer">
    <p>
      Social media icons adapted from
      <a href="https://www.iconfinder.com/iconsets/social-media-2247" rel="nofollow noreferrer">Nikita Landin</a>
      (<a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>)
    </p>
  </div>

</article>
