<article class="callout">
  <h2 class="callout__datetime">Buy me a beer</h2>
  <p>I love running Lockdown Open Mic every week. I do it because I love y'all, I truly do.</p>
  <p>
    There's a small cost to hosting the show and I'm more than happy to foot that bill, but if you wanted to buy me a
    beer, I'm absolutely not going to complain. I'll buy you one back when we all get together.
  </p>
  <div class="callout__actions">
    <a href="https://www.buymeacoffee.com/petelambert" class="button button--secondary" rel="noreferrer nofollow me"
      >Buy Me A Beer</a
    >
  </div>
</article>
