<article class="contentBlock" id="zoomTips">
  <h2>Zoom Tips</h2>
  <ul>
    <li>Download the latest version of Zoom (there are some important updates).</li>
    <li>
      Enable 'Original Sound' in the advanced audio settings (<a href="https://oh.chuff.it/hdvcjSwI.mp4"
        >Video instructions here</a
      >) and make sure it's turned on if you're performing.
    </li>
    <li>Turn on your video - it's nice to see people.</li>
    <li>Mute yourself when you're not speaking or performing - otherwise everyone's audio gets degraded.</li>
    <li>If you can use headphones whilst performing, it'll help with echo.</li>
    <li>
      <a href="https://www.youtube.com/watch?time_continue=2&v=0xqLjc2y6O4" rel="nofollow noreferrer"
        >Remember you're on camera!</a
      >
    </li>
  </ul>
</article>
